.modal{
    position: relative;
    box-sizing: content-box;
    padding: 24px;
        background-color:var(--themeBgColor);
        width: 252px;
        height: 319px;
        border-radius: 8px;
        border: 1px solid rgba(190, 219, 176, 0.5);
        margin-left: auto;
        margin-right: auto;
        
}
.closeBtn{
    top: 14px;
    right: 14px;
    position: absolute;
    fill: red;
    z-index: 9999;
    cursor: pointer;
}
.title {
    font-family: Poppins;
    color: var(--filterModalTitle);
    margin: 0;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.background {
    width: 100%;
    height: 123px;
    border-bottom: 1px solid var(--filterLines);
    border-top: 1px solid var(--filterLines);
}

.titleBackground {
    font-family: Poppins;
    margin: 14px 0 14px 0;
    color: var(--filterModalTitle);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.item {
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    /* background-color: brown; */
    border-radius: 10px;
}

.labelColor {
    font-family: Poppins;
    padding: 0;
    margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 24px;
}

.labelColorTitle {
    margin: 0;
    color: var(--filterModalTitle);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
}

.show {
    font-family: Poppins;
    color: var(--filterModalText);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}
.btnShow{
        font-family: Poppins;
        color: var(--filterModalText);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;
    border: none;
    background-color: transparent;
}
.btnShow:hover{
    color: var(--filterModalTitle);
}
.btnShowOn{
    font-family: Poppins;
        color: var(--filterModalTitle);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;
        border: none;
        background-color: transparent;
}
.form {
    display: flex;
    flex-direction: column;
}

.radioItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.labelOn {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--filterModalTitle);
    align-items: baseline;
    cursor: pointer;
}


.labelOff {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--filterModalText);
    align-items: baseline;
    cursor: pointer;
}
.labelOff:hover{
    color: var(--filterModalTitle);
}


.realRadio:checked+.spanText {
    display: block;
}



.customRadio {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 8px;

}

.customRadio::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid var(--themeBgColor);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.without {
    background-color: var(--withoutColor);
}

.without::before {
    background-color: var(--withoutColor)
}

.low {
    background-color:var(--lowColor);
}

.low::before {
    background-color: var(--lowColor);
}

.medium {
    background-color: var(--mediumColor);
}

.medium::before {
    background-color: var(--mediumColor);
}

.high {
    background-color: var(--highColor)
}

.high::before {
    background-color: var(--highColor);
}

.realRadio:checked+.customRadio::before {
    display: block;
}

.realRadio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;

}
.imgOn {
    outline: 1px solid var(--filterModalTitle);
    border-radius: 8px;
    cursor: pointer;
}

.imgOff {
    outline: 1px solid var(--themeBgColor);
    border-radius: 8px;
    cursor: pointer;
}

.backgroundListItem {
    height: 28px;
}