:root {
  --blackColor: #151515;
  --gradientFonColor: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
  --transition: 0.4s;
  --poppinsFont: "Poppins";
  --borderRadius8: 8px;

  --fontSize10: 8px;
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize28: 28px;
  --fontSize40: 40px;

  --fontWeight700: 700;
  --fontWeight600: 600;
  --fontWeight500: 500;
}

#root {
  padding: 0;
}

body {
  background-image: var(--gradientFonColor);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100vh;
  transition: color 0.5s ease, background-color 0.5s ease;
}

/*-------------------DARK-----------------*/

.dark-theme {
  --accentColor: #bedbb0;
  --headerColor: #161616;
  --userNameColor: #ffffff;
  --userIconBg: #1f1f1f;
  --userIconMan: #151515;

  /*Sidebar Dark*/
  --sidebarColor: #121212;
  --logo: #1f1f1f;
  --flash: #fff;
  --needHelpBg: #1f1f1f;
  --contrastColor: #ffffff;
  --plusBg: #bedbb0;
  --myBoards: rgba(255, 255, 255, 0.5);
  --boarder: rgba(255, 255, 255, 0.1);
  --prOfBg: rgba(31, 31, 31, 1);
  --logOut: #fff;
  --logOutIcon: #bedbb0;
  --activeBorder: #bedbb0;

  /*Board Dark*/
  --primaryBoardBg: #1f1f1f;
  --addBtnBox: #121212;
  --addBtnText: #fff;
  --addBtnIcon: #fff;
  --filterTxt: rgba(255, 255, 255, 0.8);
  --addColumnPlus: #121212;
  --pencilIcon: rgba(255, 255, 255, 0.5);

  /*Modal Dark*/
  --modalBg: #151515;
  --modalCloseIcon: #fff;
  --modalTitle: #ffffff;
  --modalInputBg: #1f1f1f;
  --modalInputBorder: #bedbb0;
  --modalInputTxt: #ffffff;
  --modalFirstBgImg: #1f1f1f;
  --modalAccentBtnBg: #bedbb0;
  --modalAccentBtnTxt: #161616;
  --modalPlusIconBg: #161616;
  --modalPlusIconColor: #fff;
  --modalSmallTitle: rgba(255, 255, 255, 0.5);
  --modalEditPlusFoto: #bedbb0;

  /*Card Dark*/
  --cardTxt: rgba(255, 255, 255, 0.5);
  --addCardBtnTxt: #161616;
  --plusOnBtn: #fff;
  --lowColor: #8fa1d0;
  --mediumColor: #e09cb5;
  --highColor: rgba(190, 219, 176, 1);

  /*Calendar Dark*/
  --calendarBackground: #1f1f1f;
  --calendarBorder: #bedbb0;
  --navLeftBtn: #ffffffcc;
  --calendarDayName: #ffffff80;
  --calendarCurrentMonth: #ffffff;
  --calendarCurrentDate: #1f1f1f;
  --calendarPreviousMonth: #ffffff33;

  --filterModalTitle: rgba(255, 255, 255, 1);
  --filterLines: rgba(255, 255, 255, 0.1);
  --filterModalText: rgba(255, 255, 255, 0.5);
  --backgroundInput: rgba(22, 22, 22, 0.08);
  --withoutColor: rgba(255, 255, 255, 0.3);
  --defaultScreenColor: #e6e6e6;

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);
  --themeTitle: rgba(255, 255, 255, 0.8);
  --themeBgColor: #151515;
  --themeBoxShadow: rgba(17, 17, 17, 0.1);
  --themeItem: rgba(255, 255, 255, 0.5);
}

/*-------------------LIGHT-----------------*/

.light-theme {
  --accentColor: #bedbb0;
  --headerColor: #fcfcfc;
  --userNameColor: #161616;
  --userIconBg: #f6f6f7;
  --userIconMan: #ffffff;

  /*Sidebar Light*/
  --sidebarColor: #ffffff;
  --logo: #1f1f1f;
  --flash: #ffffff;
  --needHelpBg: #f6f6f7;
  --contrastColor: #161616;
  --plusBg: #bedbb0;
  --myBoards: rgba(22, 22, 22, 0.5);
  --boarder: rgba(22, 22, 22, 0.1);
  --prOfBg: #f6f6f7;
  --logOut: #161616;
  --logOutIcon: #bedbb0;
  --activeBorder: #bedbb0;

  /*Board Light*/
  --primaryBoardBg: #f6f6f7;
  --addBtnBox: #fff;
  --addBtnText: #161616;
  --addBtnIcon: #161616;
  --filterTxt: rgba(22, 22, 22, 0.8);
  --addColumnPlus: #fff;
  --pencilIcon: rgba(22, 22, 22, 0.5);

  /*Modal Light*/
  --modalBg: #fcfcfc;
  --modalCloseIcon: #161616;
  --modalTitle: #161616;
  --modalInputBg: #fcfcfc;
  --modalInputBorder: #bedbb0;
  --modalInputTxt: #161616;
  --modalFirstBgImg: #f6f6f7;
  --modalAccentBtnBg: #bedbb0;
  --modalAccentBtnTxt: #161616;
  --modalPlusIconBg: #161616;
  --modalPlusIconColor: #fff;
  --modalSmallTitle: rgba(22, 22, 22, 0.5);
  --modalEditPlusFoto: #bedbb0;

  /*Card Light*/
  --cardTxt: rgba(22, 22, 22, 0.7);
  --addCardBtnTxt: #161616;
  --plusOnBtn: #fff;
  --lowColor: #8fa1d0;
  --mediumColor: #e09cb5;
  --highColor: rgba(190, 219, 176, 1);

  /*Calendar Light*/
  --calendarBackground: #ffffff;
  --calendarBorder: #bedbb0;
  --navLeftBtn: #161616cc;
  --calendarDayName: #16161680;
  --calendarCurrentMonth: #161616;
  --calendarCurrentDate: #161616;
  --calendarPreviousMonth: #16161633;

  --filterModalTitle: rgba(22, 22, 22, 1);
  --filterLines: rgba(22, 22, 22, 0.1);
  --filterModalText: rgba(22, 22, 22, 0.5);
  --withoutColor: rgba(22, 22, 22, 0.3);
  --backgroundInput: rgba(22, 22, 22, 0.08);
  --defaultScreenColor: #e6e6e6;

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);
  --themeTitle: rgba(22, 22, 22, 0.8);
  --themeBgColor: #fcfcfc;
  --themeBoxShadow: rgba(17, 17, 17, 0.1);
  --themeItem: #161616;
}

/*-------------------VIOLET-----------------*/
.violet-theme {
  --accentColor: #5255bc;
  --headerColor: #ffffff;
  --userNameColor: #161616;
  --userIconBg: #ecedfd;
  --userIconMan: #ffffff;

  /*Sidebar Violet*/
  --sidebarColor: #5255bc;
  --logo: #ecedfd;
  --flash: #5255bc;
  --needHelpBg: rgba(236, 237, 253, 0.4);
  --contrastColor: #ffffff;
  --plusBg: #b8bcfd;
  --myBoards: rgba(255, 255, 255, 0.5);
  --boarder: rgba(255, 255, 255, 0.1);
  --prOfBg: rgba(236, 237, 253, 0.4);

  --logOut: #fff;
  --logOutIcon: #fff;
  --activeBorder: #fff;

  /*Board Violet*/
  --primaryBoardBg: rgba(236, 237, 253, 1);
  --addBtnBox: #fff;
  --addBtnText: #161616;
  --addBtnIcon: #5255bc;
  --filterTxt: rgba(22, 22, 22, 0.8);
  --addColumnPlus: #fff;
  --pencilIcon: rgba(255, 255, 255, 0.5);

  /*Modal Violet*/
  --modalBg: #fcfcfc;
  --modalCloseIcon: #161616;
  --modalTitle: #161616;
  --modalInputBg: #fcfcfc;
  --modalInputBorder: #5255bc;
  --modalInputTxt: #161616;
  --modalFirstBgImg: #ecedfd;
  --modalAccentBtnBg: #5255bc;
  --modalAccentBtnTxt: #fff;
  --modalPlusIconBg: #fff;
  --modalPlusIconColor: #161616;
  --modalSmallTitle: rgba(22, 22, 22, 0.5);
  --modalEditPlusFoto: #ecedfd;

  /*Card Violet*/
  --cardTxt: rgba(22, 22, 22, 0.7);
  --addCardBtnTxt: #fff;
  --plusOnBtn: #161616;
  --lowColor: #8fa1d0;
  --mediumColor: #e09cb5;
  --highColor: rgba(190, 219, 176, 1);

  /*Calendar Violet*/
  --calendarBackground: #ffffff;
  --calendarBorder: #5255bc;
  --navLeftBtn: #161616cc;
  --calendarDayName: #16161680;
  --calendarCurrentMonth: #161616;
  --calendarCurrentDate: #fcfcfc;
  --calendarPreviousMonth: #16161633;

  --filterModalTitle: rgba(22, 22, 22, 1);
  --filterLines: rgba(22, 22, 22, 0.1);
  --filterModalText: rgba(22, 22, 22, 0.5);
  --withoutColor: rgba(22, 22, 22, 0.3);
  --backgroundInput: rgba(22, 22, 22, 0.08);
  --defaultScreenColor: #e6e6e6;

  --opacityWhite: rgba(255, 255, 255, 0.3);
  --opacityWhite2: rgba(255, 255, 255, 0.5);
  --themeTitle: rgba(22, 22, 22, 0.8);
  --themeBgColor: #fcfcfc;
  --themeBoxShadow: rgba(17, 17, 17, 0.1);
  --themeItem: #161616;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
